#row1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: rgba(192, 242, 204, 0.8);
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 30px;
    }    
