#row2, #row3 {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1; /* use the available space for width after padding */
    height: 500px;
    padding: 10px;
}

.row2_child1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 490px;
    padding: 10px;
    flex: 1;
    flex-direction: column;
}

.row2_child2 {
    display: flex;
    align-items: center;
    height: 490px;
    padding: 10px;
    flex: 1;
    flex-direction: column;
}

.dropdown2_div, .fil_radio, .crit_drop {
    display: flex;
    justify-content:center;
    flex-direction: row;
}

.slider_parent {
    width: 75%;
    justify-self: center;
}